[MASTER]
init-hook='import sys; sys.path.append("./bot")'

[MESSAGES CONTROL]
disable = line-too-long,global-statement,bare-except,pointless-statement,duplicate-code,too-few-public-methods,fixme,C0103,missing-module-docstring,missing-class-docstring,missing-function-docstring,unnecessary-pass,too-many-instance-attributes,too-many-arguments,unsubscriptable-object,unused-argument,broad-exception-raised,non-ascii-name,consider-using-generator,consider-using-f-string
