services:
  bot:
    build:
      context: .
      dockerfile: ./compose/dev/Dockerfile
    ports:
      - "5678:5678"
    volumes:
      - .:/app
      - .:/opt/gcloud
    env_file:
      - ./.env
    environment:
      - PYTHONPATH=./bot
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION=2
    logging:
      options:
        max-size: "1M"
        max-file: "10"
