services:
  bot:
    image: ghcr.io/vldc-hq/vldc-bot/bot:latest
    env_file:
      - ./.env
    environment:
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION=2
    volumes:
      - ./:/opt/gcloud
    logging:
      options:
        max-size: "1M"
        max-file: "10"
