name: Nyan Bot Dev

on:
  push:
    branches:
      - dev
      - '!*no-ci*'
      - '!*skip-ci*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: "3.14.2"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv==0.9.28
        uv sync --dev --no-install-project
    - name: Lint
      run: uv run make lint
    - name: Test with pytest
      run: export PYTHONPATH=./bot && uv run pytest
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: vldc-hq/vldc-bot/bot_dev
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: ghcr.io
        dockerfile: compose/prod/Dockerfile
    - name: Trigger deploy
      env:
        DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY_DEV }}
      run: |
        curl --fail --insecure --max-time 300 "https://$DEPLOY_HOST/deploy/bot?secret=$DEPLOY_KEY"'&sync=true'
