name: Pull requests Lint/Test

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: "3.14.2"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv==0.9.28
        uv sync --dev --no-install-project
    - name: Lint
      run: uv run make lint
    - name: Test with pytest
      run: export PYTHONPATH=./bot && uv run pytest
